.timezone_Component {
    width: 60%;
    margin: auto;
  }
  
  .time-right {
    margin-left: auto; 
  }
  
  .navbarMain {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    color: black;
    box-sizing: border-box;
    width: 59%;
    padding:  0px 10px;
  }
  
  .Navbar_inner_first,
  .Navbar_inner_second,
  .Navbar_inner_third {
    display: flex;
    gap: 8px;
    align-items: center;
    
  }

  
  .btn {
    height: 45px;
    width: 45px;
    border: 2px solid;
  }
 
  

  @media (max-width: 1200px) {
    .timezone_Component {
        width: 60%;
        margin: auto;
      }
  }
  
 
  
  .Main_page_header {
    width: 59%;
    margin: auto;
  }
  
  .selectTag {
    min-width: 200px;
  }
  