

.navbarMain{
    margin: auto;

    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
}


.Navbar_inner_third{
    display: flex;
    gap: 5px; 
}

.btn{
    height: 50px;
    width: 50px;
    border: 2px solid;
}